<header role="banner" class="text-center">
  <p class="text-right">
    <% if(user_id !== undefined) { %>
      <form method="POST" action="/logout" class="text-right">
        <b class="mr-3"><%= email %></b> <button href="/logout" class="btn btn-primary"><span class="fas fa-sign-out-alt d-inline-block mr-3"></span>Logout</button>
      </form>
    <% } else { %>
      <a href="/urls/login" class="btn btn-primary"><span class="fas fa-sign-in-alt d-inline-block mr-3"></span>  Login</a>
      <a href="/urls/register" class="btn btn-primary"><span class="fas fa-user-plus d-inline-block mr-3"></span>Register</a>
    <% } %>
    </p>
  <h1><span class="tiny-header d-inline-block" style="position: relative; left: 3rem;">TinyAPP</span> <span class="fas fa-feather leaf1"></span> <span class="fas fa-feather leaf2"></span></h1>
</header>
