<html>
  <head>
      <title>Tiny App | 403 - Complete your Email.</title>
      <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>

  <body>
    <h1 class="text-center" style="margin-top: 100px;">Error 403: Forbidden</h1>

    <p style='margin-top: 25px;' class='text-center'>You must enter a valid email to login.</p>
    <p style='margin-top: 26px;' class='text-center'><a href='/urls/login' class='btn btn-primary'>Login</a></p>
  </body>

</html>