<!DOCTYPE html>
<html>
  <% include partials/_head.ejs %>

  <body>
  <!-- include header -->
  <div class="container p-3">
    <% include partials/_header.ejs %>
    <h3 class="text-center"><span class="fas fa-link"></span> Links</h3>
    <% if (user_id !== undefined) { %>
    <ol class="list-group p-0" style="margin:50px auto; width: 500px;">
      <% Object.keys(urls).forEach( (key) => { %>
        <li class="list-group-item">
          <span class="d-inline-block mb-2">
            <span class="d-inline float-left" style="width: 290px;"><strong><%= urls[key].shortURL %></strong> &rarr; <%= urls[key].longURL %></span>
          </span>
          <span class="d-inline-block">
            <form method="POST" action="/urls/<%= urls[key].shortURL %>/delete" class="delete d-inline float-right">
              <input type="submit" value="Delete" class="btn btn-default d-inline-block ml-2 float-right">
              <a href="/urls/<%= urls[key].shortURL %>" class="btn btn-primary d-inline-block float-right">Edit</a>
            </form>
          </span>
        </li>
      <% }) %>
    </ol>

    <p class="text-center"><a href="/urls/new" class="btn btn-primary">Create New Short Link</a></p>

    <% } else { %>

    <p class="text-center" style="margin-top: 50px;"><strong>You must be logged in to view the list of links.</strong></p>
    <% } %>

  </div>
  <% include partials/_footer.ejs %>
  </body>
</html>