<!DOCTYPE html>
<html lang="en">
  <% include partials/_head.ejs %>
  <body style="font-size:20px; padding:50px;">
    <% include partials/_header %>
    <h2 class="text-center">Register</h2>
    <form action="/urls/register" method="POST" style="margin:50px auto; width: 410px;">
      <label for="email" style="width: 100px;">E-mail:</label>
      <input id="email" type="email" name="email" placeholder="joe@example.com" style="width: 300px" class="ml-5"><br>
      <label for="password" style="width: 100px;">Password:</label>
      <input id="password" type="password" name="password" placeholder="12345678" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>