<!DOCTYPE html>
<html>
  <% include partials/_head.ejs %>

  <body>
  <!-- include header -->
  <div class="container p-3">
    <% include partials/_header.ejs %>

    <div>
      <h2>
        Short URL: <a href="/u/<%= shortURL %>"><%= shortURL %></a>
      </h2>
      <form method="POST" action="/urls/<%= shortURL %>/edit" class="d-inline-block">
        <label for="LongURL"> <b>Edit URL:</b>
          <input type="text" name="longURL" id="longURL" value="<%= longURL %>" class="pl-2">
        </label>
        <input type="submit" value="Edit" class="btn btn-primary d-inline-block"> <a href="/urls/" class="ml-3 btn btn-success">Home</a>
      </form>
    </div>

  </div>
  </body>
</html>