<!DOCTYPE html>
<html>
  <% include partials/_head.ejs %>

  <body>
  <!-- include header -->
  <div class="container p-3">
    <% include partials/_header.ejs %>

    <div style="margin:50px auto; width: 410px;">
      <h2 class="text-center">
        Short URL: <a href="/u/<%= shortURL %>"><%= shortURL %></a>
      </h2>
      <form method="POST" action="/urls/<%= shortURL %>" class="d-inline-block" >
        <label for="LongURL"> <b>Edit URL:</b>
          <input type="text" name="longURL" id="longURL" value="<%= longURL %>" class="pl-2">
        </label>
        <input type="submit" value="Edit" class="btn btn-primary d-inline-block"> <a href="/urls/" class="ml-3 btn btn-success">Home</a>
      </form>
    </div>

  </div>
  </body>
</html>