<!DOCTYPE html>
<html>
  <% include partials/_head.ejs %>

  <body>
  <!-- include header -->
  <div class="container p-3">
    <% include partials/_header.ejs %>
    <h3 class="text-center">Links</h3>
    <ol style="margin:50px auto; width: 410px;">
      <% Object.keys(urls).forEach((key) => { %>
        <li><span class="d-inline-block"><%= key %> &rarr; <%= urls[key] %></span>
          <form method="POST" action="/urls/<%= key %>/delete" class="delete m-0">
          <a href="/urls/<%= key %>" class="btn btn-primary d-inline-block">Edit</a>
          <input type="submit" value="Delete" class="btn btn-primary d-inline-block">
        </form>
        </li>
      <% }) %>
    </ol>

    <p class="text-center"><a href="/urls/new" class="btn btn-primary">Add New</a></p>
  </div>
  </body>
</html>