<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>This is great</h1>
        <p>Look at the magic and ease of EJS templating!</p>
    </div>

    <div class="col-lg-8 col-sm-12">
      <h2>Variables!</h2>
      <p><%= tagline %></p>

      <h2>Using Loops</h2>
      <ul>
        <% drinks.forEach( function(drink) { %>
          <li><%= drink.name %> : <%= drink.drunkness %></li>
        <%  }); %>
      </ul>
    </div>
</main>

<div class="col-sm-4">
    <div class="well">
        <h3>This content is in the sidbar!</h3>
    </div>
</div>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>